* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


/* ---------------------------- NAVBAR ---------------------------- */

.nav1 {
    width: 100%;
    height: 30px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    border-bottom: 1px solid black;
    z-index: 1;
}

.nav1 button {
    background-color: black;
    color: white;
    border: black;
    width: 90px;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
    cursor: pointer;
}

.nav1 button a {
    text-decoration: none;
    color: white;
}

.nav1 input {
    height: 23px;
}

.search-wrapper {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.fa-magnifying-glass:hover {
    transform: translateY(-40%);
    color: red;
}

.nav1 span i {
    margin-left: 10px;
    cursor: pointer;
}

.navbar1 {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #035e3d;
    margin-top: 30px;
}

.logos img{
    width: 28vw;
    height: 8vh;
    padding-left: 30px;
    margin-right: 380px;
}

.names {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.names ul li {
    list-style: none;
    display: inline-block;
    margin-right: 2vw;
}

.names ul li a {
    color: white;
    text-decoration: none;
    font-size: 13px;
    font-weight: 400;
}

.learning {
    background-color: #a41d31;
    display: inline-block;
    width: 83px;
    height: 34px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 3px;
}

.learning ul li {
    display: flex;
    align-items: center;
}

.learning ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: whitesmoke;
    padding-top: 11px;
    padding-left: 9px;
}

.learning:hover {
    background-color: #1B3058;
}

.names span ul li a:hover {
    color: whitesmoke;
}

.navbar1 {
    position: fixed;
    z-index: 100;
    top: 0;
}

.navbar1 a:hover {
    color: #a41d31;
}


/* ---------------------------- BODY ---------------------------- */

#portfolio {
    padding: 150px 50px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.work img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.work:hover img{
    transform: scale(1.1);
}

.ieee_web {
    height: 400px;
    width: 400px;
}

.clg_web {
    height: 400px;
    width: 400px;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    margin-left: -80px;
}

.layer p {
    padding-bottom: 10px;
    color: rgb(234, 255, 2);
    padding-left: 70px;
}

.work:hover .layer {
    height: 100%;
}

.layer h3 {
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a {
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.btn {
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover {
    background: #ff004f;
}


/* ---------------------------- FOOTER ---------------------------- */

footer {
    background-color: #1B3058;
    width: 100%;
    height: 42vh;
    color: rgb(176, 176, 176);
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 3px 30px;
}

.container a {
    text-decoration: none;
    color: white;
}

.container a:hover {
    color: rgb(0, 255, 60);
}

.container h4 {
    padding-top: 10px;
    padding-bottom: 20px;
    color: white;
    font-size: 17px;
    font-weight: bold;
}

.contact {
    height: 40px;
    width: 30vw;
    margin-left: 20px;
}

.contact p {
    padding-top: 15px;
}

.contact h3,h5 {
    color: white;
}

.contact pre {
    color: white;
}

.academics {
    height: 40px;
    width: 20vw;
}

.academics h4 {
    color: aqua;
}

.academics a {
    display: block;
    margin-bottom: 1px;
}

.connect {
    height: 40px;
    width: 20vw;
}

.connect h4 {
    color: aqua;
}

.connect a {
    display: block;
    margin-bottom: 1px;
}

.connect a i {
    font-size: 20px;
    padding-right: 10px;
}

.face:hover i {
    color: #8ab4f8;
}

.twitter :hover i {
    color: #548eeb;
}

.you:hover i {
    color: #D70022;
}

.insta:hover i {
    color: rgb(252, 86, 114);
}

.linked:hover i {
    color: #8ab4f8;
}

.contact h4 {
    color: aqua;
}

.map {
    height: 40px;
    width: 10px;
}

.map pre iframe {
    display: block;
    padding-top: 9px;
    margin-left: -50px;
    margin-top: -10px;
}

.footer2 {
    height: 50px;
    width: 100vw;
    box-sizing: border-box;
    background-color: #23427F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

.footer2 p {
    box-sizing: border-box;
}

.footer2 i {
    color: red;
}
