* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}


/* ---------------------------- NAVBAR ---------------------------- */

.nav1 {
    width: 100%;
    height: 30px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
}

.nav1 button {
    background-color: black;
    color: white;
    border: black;
    width: 90px;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
    cursor: pointer;
}

.nav1 button a {
    text-decoration: none;
    color: white;
}

.nav1 input {
    height: 23px;
}

.search-wrapper {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.fa-magnifying-glass:hover {
    transform: translateY(-40%);
    color: red;
}

.nav2 {
    padding-top: 30px;
    width: 100vw;
    box-sizing: border-box;
    height: 160px;
    background-color: white;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}


/* ---------------------------- MAIN ---------------------------- */

main {
    height: 100vh;
    box-sizing: border-box;
}


/* ---------------------------- FOOTER ---------------------------- */

.footer1 {
    border-top: 1px solid black;
    height: 300px;
    width: 100vw;
    padding: 50px;
    box-sizing: border-box;
    background-color: #1e312c;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactus {
    width: 40%;
    color: white;
}

.contactus ul {
    list-style: none;
}

.contactus ul a {
    text-decoration: none;
    color: white;
}

.footer2 {
    height: 50px;
    width: 100vw;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
}

.footer2 i {
    color: red;
}
