/* ----------------- NAVBAR -------------------- */

.nav1 {
    width: 100%;
    height: 30px;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    margin-top: -139.9px;
    margin-left: -10px;
}

.nav1 button {
    background-color: green;
    color: black;
    border: black;
    width: 90px;
    height: 30px;
    font-size: 18px;
    padding-top: 5px;
    cursor: pointer;
}

.nav1 button a {
    text-decoration: none;
    color: white;
}

.nav1 input {
    height: 23px;
}

.search-wrapper {
    position: relative;
}

.fa-magnifying-glass {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.fa-magnifying-glass:hover {
    transform: translateY(-40%);
    color: red;
}

.nav1 span i {
    margin-left: 10px;
    cursor: pointer;
}

.navbar1 {
    width: 100%;
    height: 12vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: black;
    margin-top: 30px;
    margin-left: -10px;
}

.logos img {
    width: 28vw;
    height: 8vh;
    padding-left: 30px;
    margin-right: 350px;
}

.names {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.names ul li {
    list-style: none;
    display: inline-block;
    margin-right: 1vw;
}

.names ul li a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
}

.learning {
    background-color: #00ffd5;
    display: inline-block;
    width: 83px;
    height: 34px;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 3px;
}

.learning ul li {
    display: flex;
    align-items: center;
}

.learning ul li a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: whitesmoke;
    padding-top: 11px;
    padding-left: 9px;
}

.learning:hover {
    background-color: #1b3058;
}

.names span ul li a:hover {
    color: whitesmoke;
}

.navbar1 {
    position: fixed;
    z-index: 100;
    top: 0;
    border-bottom: 2px solid red;
    border-top: 2px solid yellow;
    box-sizing: border-box;
}

.navbar1 a:hover {
    color: #00ffd5;
}

.menu {
    display: none;
}



/* Styling for the photo section */
.photo {
    border: 2px solid black; 
    padding: 20px; 
    margin: 40px auto;
     /* Centering the box horizontally */
    height: 620px;
    border-radius: 30px; 
    background-image: url(https://th.bing.com/th/id/OIG2.JtexO8eOUVpYtOQJX7li?w=270&h=270&c=6&r=0&o=5&dpr=2.5&pid=ImgGn); 
    background-size: cover; /* Cover the entire background with the image */
    background-position: center top; /* Position the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
}

/* Styling for the ourstory section */
.ourstory {
    border: 2px solid rgb(78, 135, 21); 
    display: flex; 
    justify-content: center; 
    text-align: center;
    width: 500px; 
    margin: auto; 
    padding: 20px;
    border-radius: 20px; /* Rounded corners for the ourstory section */
    box-shadow: 4px 4px 11px black; /* Drop shadow effect */
    background-color: rgb(193, 252, 252); 
    cursor: pointer; /* Change cursor to pointer on hover */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    /* Font family */
    font-size: medium;
     /* Font size */
    font-weight: 400; /* Font weight */
}

h1 {
    text-align: center; 
    /* Center align h1 text */
    text-shadow: 2px 1px 1px rgb(231, 235, 144);
     /* Text shadow effect */
}

.team {
    display: flex; 
    /* Use flexbox for layout */
    gap: 150px; 
    /* Gap between elements in the team section */
}

video {
  margin: 10px 100px;
  padding: 0px 100px;
  justify-content: center;
  display: flex;    
  align-items: center;
  border: 1px solid #dddddd;
}

.Audio {
  /* width: 700px; */
  justify-content: center;
  display: flex;
  align-items: center;
}

video {
    margin: 50px 319px;
    width: 600px;
    height: 400px;
}

.intro {
    margin-top: 50px; 
    text-align: center; 
}

body {
    margin-top: 140px;
    background-color: white; /* Background color for the body */
}

.photogroup {
    margin: auto; 
    /* Centering the box horizontally */
    border: 2px solid black; 
    width: 300px; 
    height: 300px;
    border-radius: 20px;
    margin-top: 40px;
     /* Top margin for the photogroup */
    background-image: url(https://th.bing.com/th/id/OIG1.Ni8qAnvO6cgkJyLHc4Gg?w=270&h=270&c=6&r=0&o=5&dpr=2.5&pid=ImgGn); /* Background image for the photogroup */
    background-size: contain; 
    /* Scale the background image to contain the container */
    transition: transform 0.4s ease;
     /* Apply transition to the background image */
}

.photogroup:hover {
    transform: scale(1.1);
     /* Scale up the container on hover */
}

.footer2 {
    height: 50px;
    width: 100vw;
    box-sizing: border-box;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-wrap: wrap;
    border-top: 2px solid red;
    margin-left: -10px;
    margin-bottom: -10px;
}

.footer2 p {
    box-sizing: border-box;
}

.footer2 i {
    color: red;
}
